.hamburger-menu {
    border: 2px solid var(--color-very-dark-violet);
    padding: 8px 5px;
    background-color: white;
    cursor: pointer;
    outline: none;

    &__bar {
        display: block;
        width: 2.25rem;
        height: 2px;
        background-color: var(--color-very-dark-violet);
        transition: all .3s;

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

.hamburger-menu--open .hamburger-menu__bar--top {
    transform: rotate(45deg) translate(3px, 4px);
}

.hamburger-menu--open .hamburger-menu__bar--middle {
    opacity: 0;
}

.hamburger-menu--open .hamburger-menu__bar--bottom {
    transform: rotate(-45deg) translate(3px, -4px);
}