body {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
}

h1 {
    font-family: 'DM Serif Display', serif;
}

.header {
    &__link {
        color: white;
        font-size: 2.5rem;
        word-spacing: 2px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;

        @media only screen and (min-width: 800px) {
            color: var(--color-dark-greyish-violet);
            font-size: 2rem;
            letter-spacing: initial;
        }

        &:hover {
            color: var(--color-dark-violet);
        }
    }
}
