.header {
    position: relative;
    z-index: 3;
    padding: 0 3rem;
    background-color: white;

    @media only screen and (min-width: 800px) {
        padding: 0 5rem;
    }

    &__content-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 1105px;
        height: 10rem;
        margin: 0 auto;
    }

    &__logo {
        margin-right: auto;
    }

    &__hamburger-menu {
        @media only screen and (min-width: 800px) {
            display: none;
        }
    }

    &__nav {
        position: absolute;
        z-index: 2;
        top: 10rem;
        left: -3rem;

        width: 100vw;
        height: 0;
        padding-top: 6rem;

        @media only screen and (min-width: 800px) {
            position: static;
            transform: translate(0);
            z-index: initial;
            width: initial;
            height: initial;
            padding-top: 0;
            background: white;
            opacity: 1;
        }
        
        &--active {
            @media only screen and (max-width: 800px) {
                transform: translate(0);
                transition: all .3s ease-out;
                height: calc(100vh - 10rem);
                background: url('../img/bg-pattern-mobile-nav.svg') var(--color-very-dark-violet);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;

        & > * {
            opacity: 0;
        }

        @media only screen and (min-width: 800px) {
            flex-direction: row;

            & > * {
                opacity: 1;
            }
        }
    }

    &__link {
        display: inline-block;
        margin-bottom: 5rem;
        transition: all .2s;

        &:active {
            transform: scale(1.1);
        }

        @media only screen and (min-width: 800px) {
            margin-right: 3.5rem;
            margin-bottom: 0;

            &:active {
                transform: initial;
            }
        }
    }
}